# Virtual Environment
venv/
ENV/
.env

# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Type Checking
.mypy_cache/

# Logs
*.log

# Local Database (If you use SQLite later)
*.sqlite3
*.db

# VS Code settings
.vscode/

# IntelliJ / PyCharm
.idea/

# OS specific
.DS_Store
Thumbs.db